In [1]:
##trouver commande pour restart kernel
#%

In [2]:
from scraping_lib import *

In [3]:
file_name = 'Liste-Films-Charlotte.xlsx'

# Séances films en commun

In [4]:
films = importer_fichier_films(file_name)

In [5]:
films_en_commun = trouver_films_commun(films)

/Users/florencetersier/code/FDLData/my-own-projects/web-scraping-allocine/scraping_lib.py:66: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  films_en_commun.loc[:,'Code'] = films_en_commun.loc[:,'Code'].apply(lambda x: int(x))

     Title  Code
37  Brazil   142

In [6]:
toutes_les_séances = séances_films_en_commun(films_en_commun)
toutes_les_séances

[{'Titre': 'Brazil',
  'Cinéma': [],
  'Adresse': [],
  'Date&Version': [],
  'Horaires': []}]

# Séance d'un autre film

In [7]:
films_allociné = scraping_films_allociné()
films_allociné

                                             Title    Code
0                        Super mario bros, le film  234099
1              Les trois mousquetaires: d'artagnan  288402
2                              La vie pour de vrai  297442
3    Donjons &amp; dragons : l'honneur des voleurs  221359
4                       10 jours encore sans maman  298509
..                                             ...     ...
205                                   Interstellar  114782
206                             Mad max: fury road  125054
207                                         Fritzi  264339
208                              Bonjour le monde!  273733
209                                          Music  276069

[210 rows x 2 columns]

In [8]:
#exporter_films_allociné(films_allociné) # Pour obtenir le code du film souhaité
code = 288402 # Modifier le code selon le film souhaité
titre_séances = séances_film(code)
#exporter_film(titre_séances) 
titre_séances

,Titre,Cinéma,Adresse,Infos
0,Les trois mousquetaires: d'artagnan,UGC Ciné Cité Bercy,"2, cour Saint-Emilion 75012 Paris","{'Date&Version': [' 26 avril 2023 En VF'], 'Ho..."
1,Les trois mousquetaires: d'artagnan,MK2 Nation,"133, bd Diderot 75012 Paris","{'Date&Version': [' 26 avril 2023 En VF'], 'Ho..."
2,Les trois mousquetaires: d'artagnan,Pathé Quai d'Ivry - IMAX - 4DX,"2, quai Marcel Boyer 94200 Ivry-sur-Seine","{'Date&Version': [' 26 avril 2023 En VF'], 'Ho..."
3,Les trois mousquetaires: d'artagnan,MK2 Bibliothèque,128-162 avenue de France 75013 Paris,"{'Date&Version': [' 26 avril 2023 En VF'], 'Ho..."
4,Les trois mousquetaires: d'artagnan,UGC Lyon Bastille,"12, rue de Lyon 75012 Paris 12e arrondissement","{'Date&Version': [' 26 avril 2023 En VF'], 'Ho..."
...,...,...,...,...
205,Les trois mousquetaires: d'artagnan,Pathé La Villette - IMAX - 4DX,30 avenue Corentin Cariou 75019 Paris,"{'Date&Version': [' 2 mai 2023 En VF'], 'Horai..."
206,Les trois mousquetaires: d'artagnan,"Cinémas du palais, Armand-Badéyan","40, allee Parmentier 94000 Créteil","{'Date&Version': [' 2 mai 2023 En VF'], 'Horai..."
207,Les trois mousquetaires: d'artagnan,Les Cinq Caumartin,"101, rue Saint-Lazare 75009 Paris 9e arrondiss...","{'Date&Version': [' 2 mai 2023 En VF'], 'Horai..."
208,Les trois mousquetaires: d'artagnan,Royal Palace,"165, grande rue Charles-de-Gaulle 94130 Nogent...","{'Date&Version': [' 2 mai 2023 En VF'], 'Horai..."
209,Les trois mousquetaires: d'artagnan,Ciné Montrouge,"88, rue Racine 92120 Montrouge","{'Date&Version': [' 2 mai 2023 En VF'], 'Horai..."